
  <div class="bg-info">
<div class="text-white" style="font-weight:bold"><h1 class="display-4 text-center">APP-COUNTER</h1></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-center mt-5">

    <span class=" badge bg-white count text-center border-dark text-dark" style="font-size:7em;margin-bottom:10px">{{count}}</span>
    <p class="mt-5">
      <button class="btn btn-success" style="font-size:5em"(click)="increment()">+</button>
      <button class="btn btn-success" style="font-size:5em" (click)="decrement()">-</button>
      <button class="btn btn-danger btn-block mx-auto d-block mt-5" style="margin-top:2px" (click)="reset()">RESET</button>
    </p>
  
  </div>
  <div class="col-sm-3"></div>
</div>  
</div>

